body {
    background-color: rgb(39, 40, 34);
    /* border: 1px solid black; */
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    height: 200px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

td {
    max-height: 25px;
    min-height: 25px;
    height: 25px;
    max-width: 25px;
    min-width: 25px;
    width: 25px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

p, th {
    color: white;
    background: none; 
}
